.chat,.livechat
{
  position: relative;
  border-left: 2px solid $fullblack;
  border-right: 2px solid $fullblack;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  .opener
  {
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $fullblack;
    img
    {
      width: 20%;
      height: auto;
    }
    h2
    {
      font-family: $Kdgfont;
      font-size: 3vw;
      margin-bottom: 3%;
      margin-top: 0px;
    }
    p
    {
      //font-size: 1vw;
    }
  }
  ul
  {
    list-style-type: none;
    padding: 0px;
    li
    {
      text-align: left;
      display: table;
      max-width: 60%;
      padding: 1%;
      margin-bottom: 2%;
      //font-size: 1.25vw;
      p
      {
        color: $white !important;
        background-color: $fullblack !important;
      }
      table
      {
        border-collapse: collapse;
        border-color: $white;
      }
    }
    .botmessage
    {
      margin-left: 0.5%;
      background-color: $fullblack;
      color: $white;
      a
      {
        color: inherit;
      }
      a:hover
      {
        text-decoration: underline;
      }
      img
      {
        width: 100%;
        height: auto;
      }
    }
    .usermessage
    {
      background-color: $accentcolor;
      color: $fullblack;
      margin-left:auto;
      margin-right:0.5%;
    }
  }
}
.livechat
{
  ul
  {
    li
    {
      p
      {
        background-color: $accentcolor !important;
        color: $fullblack !important;
      }
    }
  }
}
.userinput
{
  width: 40%;
  margin-left: 25%;
  margin-right: 0;
  padding: 0px;
  border-color: $black;
  height: 5%;
  font-size: 16px;
  float: left;
}
.userinput:focus
{
  outline: none;
}
#send
{
  color: $white;
  float: left;
  background-color: $black;
  height: 5.6%;
  width: 10%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}
#send:hover
{
  cursor: pointer;
}
#kdgconnect
{
  font-family: $iconfont;
  color: $white;
  height: 4.5%;
  width: 5%;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  position:absolute;
  margin-right: 35%;
  right: -1%;
  background-color: $black;
  border-right: 1px solid $white;
  &:hover
  {
    cursor: pointer;
  }
}
.sceditor-nlf
{
  display: none;
}
