@media screen and (max-width: 800px) {
  .chat,.userinput,.livechat {
    margin-left: 0;
    margin-right: 0;
  }
  .chat,.livechat
  {
    border: none;
    width: 100%;
  }
  .userinput
  {
    border-left: none;
    border-right: none;
    width: 90%;
  }
  #kdgconnect
  {
    margin-right: 10%;
  }
  #help
  {
    display: none !important;
  }
  #cookie
  {
    bottom: 6% !important;
    margin-left: 40% !important;
  }
}