#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  #close
  {
    font-family: $iconfont;
    color: $fullblack;
    margin-left: 90%;
  }
  #close:hover
  {
    cursor: pointer;
  }
  #loading
  {
    display: none;
    text-align: center;
    font-family: $iconfont;
    color: $fullblack;
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate
  {
    to
    {
      transform: rotate(360deg);
    }
  }
  .login
  {
    margin-top: 10%;
    padding: 5%;
    background-color: $white;
    border: 3px solid $fullblack;
  }
  #loginerror
  {
    color: red;
    opacity: 0;
  }
  .display
  {
    opacity: 1 !important;
  }
}
.display
{
  display: block !important;
}