.tagsoverview {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  ul
  {
    padding: 0;
    display: table;
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    li
    {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}