/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../../../public/fonts/KdG-Regular.otf") format("otf"),
  url("../../../public/fonts/KdG-Regular.woff") format("woff"),
  url("../../../public/fonts/KdG-Regular.ttf") format("truetype"),
  url("../../../public/fonts/KdG-Regular.svg#KdGRegular") format("svg");
}
@font-face {
  font-family: "icon";
  src: url("../../../public/fonts/iconfont.eot") format("eot"),
  url("../../../public/fonts/iconfont.woff") format("woff"),
  url("../../../public/fonts/iconfont.ttf") format("truetype")
}
/* VARIABLES */
$black: #1d1d1b;
$fullblack: #0c090a;
$white: #ffffff;
$accentcolor: #00b2e2;
$Kdgfont: KdG;
$iconfont: icon;
$secundaryfont: Verdana, Geneva, sans-serif;
/* PARTIALS */
@import "header";
@import "chat";
@import "typing";
@import "adminmenu";
@import "messagedetail";
@import "messageform";
@import "mobile";
@import "overlay";
@import "help";
@import "forms";
@import "cookie";
@import "notify";
/* CLEARFIX */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
/* GLOBAL */
html, body{
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: $white;
  font-family: $secundaryfont;
  font-size: 16px;
  position:relative;
}
main
{
  height: 89.5%;

}
small
{
  opacity: 0.5;
}
.nodisplay
{
  display: none !important;
}
.httperror
{
  width: 100%;
  text-align: center;
}
.pagination
{
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 50%;
  margin: auto;
  *
  {
    display: inline-block;
  }
  a
  {
    color: $fullblack;
    text-decoration: none;
  }
  a:hover
  {
    text-decoration: underline;
  }
  .active
  {
    span
    {
      text-decoration: underline !important;
    }
  }
}