/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../../../public/fonts/KdG-Regular.otf") format("otf"), url("../../../public/fonts/KdG-Regular.woff") format("woff"), url("../../../public/fonts/KdG-Regular.ttf") format("truetype"), url("../../../public/fonts/KdG-Regular.svg#KdGRegular") format("svg"); }
@font-face {
  font-family: "icon";
  src: url("../../../public/fonts/iconfont.eot") format("eot"), url("../../../public/fonts/iconfont.woff") format("woff"), url("../../../public/fonts/iconfont.ttf") format("truetype"); }
/* VARIABLES */
/* PARTIALS */
nav {
  background-color: #1d1d1b;
  height: 10%;
  overflow: hidden;
  display: flex; }
  nav * {
    float: left; }
  nav #settings {
    width: 1%;
    font-family: icon;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25vw;
    margin-top: 0.5%;
    margin-left: 0.5%; }
  nav #settings:hover {
    transform: translateY(-10%); }
  nav #botlogo {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0%;
    height: 80%;
    width: auto; }
    nav #botlogo img {
      height: 100%;
      width: auto; }
  nav h1 {
    font-family: KdG;
    font-weight: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 100;
    font-size: 3vmax;
    text-align: center; }
  nav #kdglogo {
    margin-right: 1%;
    height: 100%;
    width: auto; }
    nav #kdglogo img {
      height: 100%;
      width: auto; }

.chat, .livechat {
  position: relative;
  border-left: 2px solid #0c090a;
  border-right: 2px solid #0c090a;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse; }
  .chat .opener, .livechat .opener {
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0c090a; }
    .chat .opener img, .livechat .opener img {
      width: 20%;
      height: auto; }
    .chat .opener h2, .livechat .opener h2 {
      font-family: KdG;
      font-size: 3vw;
      margin-bottom: 3%;
      margin-top: 0px; }
  .chat ul, .livechat ul {
    list-style-type: none;
    padding: 0px; }
    .chat ul .botmessage, .chat ul .usermessage, .livechat ul .botmessage, .livechat ul .usermessage {
      text-align: left;
      display: table;
      max-width: 60%;
      table-layout: fixed;
      padding: 1%;
      margin-bottom: 2%; }
      .chat ul .botmessage p, .chat ul .usermessage p, .livechat ul .botmessage p, .livechat ul .usermessage p {
        color: #ffffff !important;
        background-color: #0c090a !important; }
      .chat ul .botmessage table, .chat ul .usermessage table, .livechat ul .botmessage table, .livechat ul .usermessage table {
        border-collapse: collapse;
        border-color: #ffffff; }
    .chat ul .botmessage, .livechat ul .botmessage {
      margin-left: 0.5%;
      background-color: #0c090a;
      color: #ffffff; }
      .chat ul .botmessage a, .livechat ul .botmessage a {
        color: inherit; }
      .chat ul .botmessage a:hover, .livechat ul .botmessage a:hover {
        text-decoration: underline; }
      .chat ul .botmessage img, .livechat ul .botmessage img {
        width: 100%;
        height: auto; }
    .chat ul .usermessage, .livechat ul .usermessage {
      background-color: #00b2e2;
      color: #0c090a;
      margin-left: auto;
      margin-right: 0.5%; }

.livechat ul li p {
  background-color: #00b2e2 !important;
  color: #0c090a !important; }

.userinput {
  width: 40%;
  margin-left: 25%;
  margin-right: 0;
  padding: 0px;
  border-color: #1d1d1b;
  height: 5%;
  font-size: 16px;
  float: left;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0; }

.userinput:focus {
  outline: none; }

#send {
  color: #ffffff;
  float: left;
  background-color: #1d1d1b;
  height: 5.6%;
  width: 10%;
  font-size: 1.5vmax;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

#send:hover {
  cursor: pointer; }

#kdgconnect {
  font-family: icon;
  color: #ffffff;
  height: 5%;
  width: 5%;
  font-size: 1.5vmax;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  margin-right: 35%;
  right: -1%;
  background-color: #1d1d1b;
  border-right: 1px solid #ffffff; }
  #kdgconnect:hover {
    cursor: pointer; }

.sceditor-nlf {
  display: none; }

.typing-indicator {
  background-color: #0c090a;
  will-change: transform;
  width: auto;
  padding: 1% !important;
  display: table;
  position: relative;
  animation: 2s bulge infinite ease-out; }
  .typing-indicator span {
    height: 0.5vmax;
    width: 0.5vmax;
    float: left;
    margin: 0 1px;
    background-color: #ffffff;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }
@keyframes bulge {
  50% {
    transform: scale(1.05); } }
.menu {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center; }
  .menu .add {
    margin-top: 1%;
    margin-left: 90%;
    display: table;
    width: 10%;
    margin-right: 0px;
    font-family: icon;
    color: #0c090a;
    text-decoration: none;
    transform: rotate(45deg); }
  .menu .options {
    padding: 0px;
    list-style-type: none; }
    .menu .options li {
      margin-bottom: 3%;
      padding: 1%;
      width: 100%;
      background-color: #0c090a;
      border: 1px solid #0c090a; }
      .menu .options li a {
        display: block;
        text-decoration: none;
        color: #ffffff; }
      .menu .options li:last-child a {
        display: inline-block; }
      .menu .options li #chatnumber {
        color: white;
        background-color: red;
        border-radius: 100%;
        padding-left: .2rem;
        padding-right: .2rem;
        display: inline-block; }
    .menu .options li:hover {
      background-color: #ffffff;
      cursor: pointer; }
      .menu .options li:hover a {
        color: #0c090a; }

.tagsoverview {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
  .tagsoverview ul {
    padding: 0;
    display: table;
    list-style-type: none;
    text-align: left;
    margin: 0 auto; }
    .tagsoverview ul li {
      margin-top: 5%;
      margin-bottom: 5%; }

.messagedetail {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
  .messagedetail .answer {
    width: 100%;
    border: 1px solid black;
    height: 300px;
    overflow-y: scroll; }
    .messagedetail .answer li {
      display: list-item; }
  .messagedetail .edit, .messagedetail .delete {
    display: inline-block;
    font-family: icon;
    color: #0c090a;
    text-decoration: none; }
  .messagedetail .edit:hover, .messagedetail .delete:hover {
    transform: translateY(-10%); }
  .messagedetail h5 {
    margin-top: 0px; }
  .messagedetail li {
    display: inline-block; }
  .messagedetail .add {
    margin-left: 5%;
    display: table;
    font-family: icon;
    color: #0c090a;
    text-decoration: none;
    transform: rotate(45deg); }
  .messagedetail .pullright {
    margin-left: 92.5%; }

.messageform {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  .messageform input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .messageform input:focus {
    outline: none; }
  .messageform button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .messageform button:focus {
    outline: none; }
  .messageform button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .messageform textarea {
    width: 100%;
    height: 300px; }

.errors {
  padding: 0px;
  list-style-type: none;
  color: red; }

@media screen and (max-width: 800px) {
  .chat, .userinput {
    margin-left: 0;
    margin-right: 0; }

  .chat {
    border: none;
    width: 100%; }

  .userinput {
    border-left: none;
    border-right: none;
    width: 90%; }

  #kdgconnect {
    margin-right: 10%; }

  nav #settings {
    display: none; }
  nav #botlogo {
    margin-left: 1.5%; }
  nav #kdglogo {
    margin-right: 1.5%; }

  #help {
    display: none !important; }

  #cookie {
    bottom: 6% !important;
    margin-left: 40% !important; } }
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }
  #overlay #close {
    font-family: icon;
    color: #0c090a;
    margin-left: 90%; }
  #overlay #close:hover {
    cursor: pointer; }
  #overlay #loading {
    display: none;
    text-align: center;
    font-family: icon;
    color: #0c090a;
    animation: rotate 2s linear infinite; }
@keyframes rotate {
  to {
    transform: rotate(360deg); } }
  #overlay .login {
    margin-top: 10%;
    padding: 5%;
    background-color: #ffffff;
    border: 3px solid #0c090a; }
  #overlay #loginerror {
    color: red;
    opacity: 0; }
  #overlay .display {
    opacity: 1 !important; }

.display {
  display: block !important; }

#help {
  z-index: 5;
  top: 10%;
  bottom: 0;
  width: 24%;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 96%; }
  #help > * {
    float: left; }
  #help #pullout {
    cursor: pointer;
    text-align: center;
    padding: 5%;
    width: 10%;
    background-color: #0c090a;
    color: #ffffff; }
  #help #inner {
    width: 90%;
    background-color: #ffffff;
    border: 3px solid #0c090a;
    padding: 1%; }
    #help #inner h4 {
      white-space: nowrap;
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 1.12vmax; }
    #help #inner p {
      white-space: nowrap;
      font-size: 1vmax;
      margin-top: 0;
      margin-bottom: 1%; }
    #help #inner #examples {
      width: 100%; }
      #help #inner #examples > * {
        float: left; }
      #help #inner #examples #next, #help #inner #examples #previous {
        color: #ffffff;
        text-align: center;
        width: 10%;
        font-size: 1vmax;
        background-color: #0c090a;
        cursor: pointer; }
      #help #inner #examples p {
        white-space: nowrap;
        font-size: 1vmax;
        width: 80%;
        text-align: center; }

.showhelp {
  animation: slidein 0.37s ease-in-out forwards; }

@keyframes slidein {
  0% {
    margin-left: 96%; }
  100% {
    margin-left: 76%; } }
.hidehelp {
  animation: slideout 0.37s ease-in-out forwards; }

@keyframes slideout {
  0% {
    margin-left: 76%; }
  100% {
    margin-left: 96%; } }
.email, .login, .register, .reset {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .email > input, .login > input, .register > input, .reset > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .email > input:focus, .login > input:focus, .register > input:focus, .reset > input:focus {
    outline: none; }
  .email > select, .login > select, .register > select, .reset > select {
    padding-left: 1%;
    width: 102%;
    height: 3.5vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat; }
  .email > select:focus, .login > select:focus, .register > select:focus, .reset > select:focus {
    outline: none; }
  .email > button, .login > button, .register > button, .reset > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .email > button:focus, .login > button:focus, .register > button:focus, .reset > button:focus {
    outline: none; }
  .email > button:hover, .login > button:hover, .register > button:hover, .reset > button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .email a, .login a, .register a, .reset a {
    display: block;
    margin-top: 5%;
    font-size: 2vh; }
  .email .invalid-feedback, .login .invalid-feedback, .register .invalid-feedback, .reset .invalid-feedback {
    font-size: 1vw;
    color: red; }

#cookie {
  font-size: 1vmax;
  width: 20%;
  margin-left: 1.5%;
  border: 3px solid #0c090a;
  padding: 1%;
  position: absolute;
  bottom: 2.5%;
  background-color: #ffffff;
  z-index: 5; }
  #cookie a {
    color: #1d1d1b; }
  #cookie #closecookie {
    background-color: #0c090a;
    padding: 5%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    cursor: pointer; }

.cookiegone {
  animation: moveout 0.37s ease-in-out forwards; }

@keyframes moveout {
  100% {
    margin-left: -25%;
    display: none; } }
/* CLEARFIX */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix::after {
  clear: both; }

/* GLOBAL */
html, body {
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  position: relative; }

main {
  height: 89%; }

small {
  opacity: 0.5; }

.nodisplay {
  display: none !important; }

.httperror {
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
