.messagedetail
{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  .answer
  {
    width: 100%;
    border: 1px solid black;
    height: 300px;
  }
  .edit,.delete
  {
    display: inline-block;
    font-family: $iconfont;
    color: $fullblack;
    text-decoration: none;

  }
  .edit:hover,.delete:hover
  {
    transform: translateY(-10%);
  }
  h5
  {
    margin-top: 0px;
  }
  li
  {
    display: inline-block;
  }
  .add
  {
    margin-left: 5%;
    display: table;
    font-family: $iconfont;
    color: $fullblack;
    text-decoration: none;
    transform: rotate(45deg);
  }
  .pullright
  {
    margin-left: 92.5%;
  }
}