.messagesoverview
{
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  h3
  {
    margin-top: 0px;
  }
  .add
  {
    margin-top: 1%;
    margin-left: 90%;
    display: table;
    width: 10%;
    margin-right: 0px;
    font-family: $iconfont;
    color: $fullblack;
    text-decoration: none;
    transform: rotate(45deg);
  }
  ul
  {
    list-style-type: none;
    padding: 0px;
    li
    {
      border: 1px solid $fullblack;
      padding: 1%;
      margin-bottom: 3%;
      width: 100%;
      background-color: $fullblack;
      a
      {
        display: block;
        text-decoration: none;
        color: $white;
      }
    }
    li:hover
    {
      background-color: $white;
      cursor: pointer;
      a
      {
        color: $fullblack;
      }
    }
  }

}