@media screen and (max-width: 800px) {
  .chat,.userinput {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  nav
  {
    #settings
    {
      display: none;
    }
    #botlogo
    {
      margin-left: 1.5%;
    }
  }
}