/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../fonts/KdG-Regular.otf") format("otf"), url("../fonts/KdG-Regular.woff") format("woff"), url("../fonts/KdG-Regular.ttf") format("truetype"), url("../fonts/KdG-Regular.svg#KdGRegular") format("svg"); }
@font-face {
  font-family: "icon";
  src: url("../fonts/iconfont.eot") format("eot"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"); }
/* VARIABLES */
/* PARTIALS */
nav {
  background-color: #1d1d1b; }
  nav * {
    float: left;
    width: 33.33333333%; }
  nav #settings {
    width: 1%;
    font-family: icon;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25vw;
    margin-top: 0.5%;
    margin-left: 0.5%; }
  nav #settings:hover {
    transform: translateY(-10%); }
  nav #botlogo {
    width: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%; }
    nav #botlogo img {
      width: 100%; }
  nav h1 {
    margin-left: 29.5%;
    margin-right: 19%;
    font-family: KdG;
    font-weight: normal;
    width: 30%;
    color: #ffffff;
    margin-top: 1%;
    margin-bottom: 0px;
    font-size: 3.5vw;
    text-align: center; }
  nav #kdglogo {
    width: 15%;
    margin-right: 1%; }
    nav #kdglogo img {
      width: 100%; }

.chat {
  border-left: 2px solid #0c090a;
  border-right: 2px solid #0c090a;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse; }
  .chat .opener {
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0c090a; }
    .chat .opener img {
      width: 20%;
      height: auto; }
    .chat .opener h2 {
      font-family: KdG;
      font-size: 3vw;
      margin-bottom: 3%;
      margin-top: 0px; }
    .chat .opener p {
      font-size: 1vw; }
  .chat ul {
    list-style-type: none;
    padding: 0px; }
    .chat ul li {
      text-align: left;
      display: table;
      max-width: 60%;
      padding: 1%;
      margin-bottom: 2%;
      font-size: 1.25vw; }
    .chat ul .botmessage {
      background-color: #0c090a;
      color: #ffffff; }
      .chat ul .botmessage a {
        color: inherit; }
      .chat ul .botmessage a:hover {
        text-decoration: underline; }
      .chat ul .botmessage img {
        width: 100%;
        height: auto; }
    .chat ul .usermessage {
      background-color: #00b2e2;
      color: #0c090a;
      margin-left: auto;
      margin-right: 0; }

.userinput {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0px;
  border-color: #1d1d1b;
  height: 5%; }

.userinput:focus {
  outline: none; }

.sceditor-nlf {
  display: none; }

#kdgconnect {
  position: absolute;
  margin-left: 1.5%;
  text-align: center !important;
  width: 20%;
  background-color: #0c090a;
  border: 1px solid #0c090a;
  color: #ffffff;
  display: block;
  float: left;
  padding: 1%;
  bottom: 2.5%; }

#kdgconnect:hover {
  background-color: #ffffff;
  border-color: #0c090a;
  color: #0c090a;
  cursor: pointer; }

.chat {
  border-left: 2px solid #0c090a;
  border-right: 2px solid #0c090a;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse; }
  .chat .opener {
    display: table;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0c090a; }
    .chat .opener img {
      width: 20%;
      height: auto; }
    .chat .opener h2 {
      font-family: KdG;
      font-size: 3vw;
      margin-bottom: 3%;
      margin-top: 0px; }
    .chat .opener p {
      font-size: 1vw; }
  .chat ul {
    list-style-type: none;
    padding: 0px; }
    .chat ul li {
      text-align: left;
      display: table;
      max-width: 60%;
      padding: 1%;
      margin-bottom: 2%;
      font-size: 1.25vw; }
    .chat ul .botmessage {
      background-color: #0c090a;
      color: #ffffff; }
      .chat ul .botmessage a {
        color: inherit; }
      .chat ul .botmessage a:hover {
        text-decoration: underline; }
      .chat ul .botmessage img {
        width: 100%;
        height: auto; }
    .chat ul .usermessage {
      background-color: #00b2e2;
      color: #0c090a;
      margin-left: auto;
      margin-right: 0; }

.userinput {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0px;
  border-color: #1d1d1b;
  height: 5%; }

.userinput:focus {
  outline: none; }

.sceditor-nlf {
  display: none; }

#kdgconnect {
  position: absolute;
  margin-left: 1.5%;
  text-align: center !important;
  width: 20%;
  background-color: #0c090a;
  border: 1px solid #0c090a;
  color: #ffffff;
  display: block;
  float: left;
  padding: 1%;
  bottom: 2.5%; }

#kdgconnect:hover {
  background-color: #ffffff;
  border-color: #0c090a;
  color: #0c090a;
  cursor: pointer; }

.typing-indicator {
  background-color: #0c090a;
  will-change: transform;
  width: auto;
  padding: 1% !important;
  display: table;
  position: relative;
  animation: 2s bulge infinite ease-out; }
  .typing-indicator span {
    height: 0.5vw;
    width: 0.5vw;
    float: left;
    margin: 0 1px;
    background-color: #ffffff;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }
@keyframes bulge {
  50% {
    transform: scale(1.05); } }
.login {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .login > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .login > input:focus {
    outline: none; }
  .login > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .login > button:focus {
    outline: none; }
  .login > button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .login a {
    display: block;
    margin-top: 5%;
    font-size: 2vh; }
  .login .invalid-feedback {
    font-size: 1vw;
    color: red; }

.adminmenu {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center; }
  .adminmenu .options {
    padding: 0px;
    list-style-type: none; }
    .adminmenu .options li {
      margin-bottom: 3%;
      padding: 1%;
      width: 100%;
      background-color: #0c090a;
      border: 1px solid #0c090a; }
      .adminmenu .options li a {
        display: block;
        text-decoration: none;
        color: #ffffff; }
    .adminmenu .options li:hover {
      background-color: #ffffff;
      cursor: pointer; }
      .adminmenu .options li:hover a {
        color: #0c090a; }

.register {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .register > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .register > input:focus {
    outline: none; }
  .register > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .register > button:focus {
    outline: none; }
  .register > button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .register .invalid-feedback {
    font-size: 1vw;
    color: red; }

.messagesoverview {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
  .messagesoverview h3 {
    margin-top: 0px; }
  .messagesoverview .add {
    margin-top: 1%;
    margin-left: 90%;
    display: table;
    width: 10%;
    margin-right: 0px;
    font-family: icon;
    color: #0c090a;
    text-decoration: none;
    transform: rotate(45deg); }
  .messagesoverview ul {
    list-style-type: none;
    padding: 0px; }
    .messagesoverview ul li {
      border: 1px solid #0c090a;
      padding: 1%;
      margin-bottom: 3%;
      width: 100%;
      background-color: #0c090a; }
      .messagesoverview ul li a {
        display: block;
        text-decoration: none;
        color: #ffffff; }
    .messagesoverview ul li:hover {
      background-color: #ffffff;
      cursor: pointer; }
      .messagesoverview ul li:hover a {
        color: #0c090a; }

.messagedetail {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
  .messagedetail .answer {
    width: 100%;
    border: 1px solid black;
    height: 300px;
    overflow-y: scroll; }
  .messagedetail .edit, .messagedetail .delete {
    display: inline-block;
    font-family: icon;
    color: #0c090a;
    text-decoration: none; }
  .messagedetail .edit:hover, .messagedetail .delete:hover {
    transform: translateY(-10%); }
  .messagedetail h5 {
    margin-top: 0px; }
  .messagedetail li {
    display: inline-block; }
  .messagedetail .add {
    margin-left: 5%;
    display: table;
    font-family: icon;
    color: #0c090a;
    text-decoration: none;
    transform: rotate(45deg); }
  .messagedetail .pullright {
    margin-left: 92.5%; }

.messageform {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  .messageform input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .messageform input:focus {
    outline: none; }
  .messageform button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .messageform button:focus {
    outline: none; }
  .messageform button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .messageform textarea {
    width: 100%;
    height: 300px; }

.errors {
  padding: 0px;
  list-style-type: none;
  color: red; }

@media screen and (max-width: 800px) {
  .chat, .userinput {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; } }
.email {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .email > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .email > input:focus {
    outline: none; }
  .email > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .email > button:focus {
    outline: none; }
  .email > button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .email .invalid-feedback {
    font-size: 1vw;
    color: red; }

.reset {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .reset > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .reset > input:focus {
    outline: none; }
  .reset > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .reset > button:focus {
    outline: none; }
  .reset > button:hover {
    background-color: #ffffff;
    border-color: #0c090a;
    color: #0c090a;
    cursor: pointer; }
  .reset .invalid-feedback {
    font-size: 1vw;
    color: red; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; }
  #overlay #close {
    font-family: icon;
    color: #0c090a;
    margin-left: 90%; }
  #overlay #close:hover {
    cursor: pointer; }
  #overlay .login {
    margin-top: 10%;
    padding: 5%;
    background-color: #ffffff;
    border: 3px solid #0c090a; }
  #overlay #loginerror {
    color: red;
    opacity: 0; }
  #overlay .display {
    opacity: 1 !important; }

.display {
  display: block !important; }

/* GLOBAL */
/* CLEARFIX */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix::after {
  clear: both; }

body {
  margin: 0 auto;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif; }

main {
  height: 85vh; }

small {
  opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
