/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../fonts/KdG-Regular.otf") format("otf"),
  url("../fonts/KdG-Regular.woff") format("woff"),
  url("../fonts/KdG-Regular.ttf") format("truetype"),
  url("../fonts/KdG-Regular.svg#KdGRegular") format("svg");
}
/* VARIABLES */
$black: #1d1d1b;
$fullblack: #0c090a;
$white: #ffffff;
$accentcolor: #00b2e2;
$Kdgfont: KdG;
$secundaryfont: Verdana, Geneva, sans-serif;
body
{
  margin: 0 auto;
  background-color: $white;
}
nav
{
  background-color: $black;
  img
  {
    width: 15%;
    height: auto;
  }
}
main
{
  .chat
  {
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    ul
    {
      list-style-type: none;
      padding: 0px;
      li
      {
        display: table;
        width: 50%;
      }
      .usermessage
      {
        margin-left: 50%;
        text-align: right;
      }
    }
  }
  .userinput
  {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
    border-color: $black;
  }
  .userinput:focus
  {
    outline: none;
  }
}