/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../fonts/KdG-Regular.otf") format("otf"),
  url("../fonts/KdG-Regular.woff") format("woff"),
  url("../fonts/KdG-Regular.ttf") format("truetype"),
  url("../fonts/KdG-Regular.svg#KdGRegular") format("svg");
}
/* VARIABLES */
$black: #1d1d1b;
$fullblack: #0c090a;
$white: #ffffff;
$accentcolor: #00b2e2;
$Kdgfont: KdG;
$secundaryfont: Verdana, Geneva, sans-serif;
/* PARTIALS */
@import "_header.scss";
@import "_chat.scss";
@import "_chat.scss";
@import "_typing.scss";
@import "_login.scss";
/* CLEARFIX */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}
body
{
  margin: 0 auto;
  background-color: $white;
  overflow-x: hidden;
  font-family: $secundaryfont;
}
main
{
  height: 85vh;

}