/* FONTS */
@font-face {
  font-family: "KdG";
  src: url("../fonts/KdG-Regular.otf") format("otf"), url("../fonts/KdG-Regular.woff") format("woff"), url("../fonts/KdG-Regular.ttf") format("truetype"), url("../fonts/KdG-Regular.svg#KdGRegular") format("svg"); }
/* VARIABLES */
/* PARTIALS */
nav {
  background-color: #1d1d1b; }
  nav * {
    float: left; }
  nav #botlogo {
    margin-top: 1.75%;
    width: 2.5%;
    height: auto;
    margin-left: 1%; }
  nav h1 {
    font-family: KdG;
    font-weight: normal;
    color: #ffffff;
    margin-top: 1%;
    margin-bottom: 0px;
    font-size: 3.5vw;
    width: 30%;
    text-align: center;
    margin-left: 30%; }
  nav #kdglogo {
    width: 15%;
    height: auto;
    margin-left: 21%; }

.chat {
  border-left: 2px solid #0c090a;
  border-right: 2px solid #0c090a;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll; }
  .chat ul {
    list-style-type: none;
    padding: 0px; }
    .chat ul li {
      text-align: left;
      display: table;
      max-width: 50%;
      padding: 0.5%;
      margin-bottom: 2%; }
    .chat ul .botmessage {
      background-color: #0c090a;
      color: #ffffff; }
    .chat ul .usermessage {
      background-color: #00b2e2;
      color: #0c090a;
      margin-left: auto;
      margin-right: 0; }

.userinput {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0px;
  border-color: #1d1d1b;
  height: 5%; }

.userinput:focus {
  outline: none; }

.chat {
  border-left: 2px solid #0c090a;
  border-right: 2px solid #0c090a;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 95%;
  overflow-x: hidden;
  overflow-y: scroll; }
  .chat ul {
    list-style-type: none;
    padding: 0px; }
    .chat ul li {
      text-align: left;
      display: table;
      max-width: 50%;
      padding: 0.5%;
      margin-bottom: 2%; }
    .chat ul .botmessage {
      background-color: #0c090a;
      color: #ffffff; }
    .chat ul .usermessage {
      background-color: #00b2e2;
      color: #0c090a;
      margin-left: auto;
      margin-right: 0; }

.userinput {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0px;
  border-color: #1d1d1b;
  height: 5%; }

.userinput:focus {
  outline: none; }

.typing-indicator {
  background-color: #0c090a;
  will-change: transform;
  width: auto;
  padding: 1% !important;
  display: table;
  position: relative;
  animation: 2s bulge infinite ease-out; }
  .typing-indicator span {
    height: 0.5vw;
    width: 0.5vw;
    float: left;
    margin: 0 1px;
    background-color: #ffffff;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }
@keyframes bulge {
  50% {
    transform: scale(1.05); } }
.login {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%; }
  .login > input {
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 3vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid #0c090a; }
  .login > input:focus {
    outline: none; }
  .login > button {
    padding: 1%;
    color: #ffffff;
    background-color: #0c090a;
    border: 1px solid #0c090a;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Verdana, Geneva, sans-serif; }
  .login > button:focus {
    outline: none; }
  .login .invalid-feedback {
    font-size: 1vw;
    color: red; }

/* CLEARFIX */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix::after {
  clear: both; }

body {
  margin: 0 auto;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif; }

main {
  height: 85vh; }

/*# sourceMappingURL=main.css.map */
